<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Noticia</h1>

	<table>
		<tr>
			<td>Id</td>
			<td>Titulo</td>
			<td>Noticias</td>
		</tr> 
    
		<tr>
			<td><%=noticia[0].id_noticias%></td>
			<td><%=noticia[0].titulo%></td>
			<td><%=noticia[0].noticia%></td>
		</tr>
		
	</table>
</body>
</html>