<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Portal de Noticias</h1>
	<table>
		<tr>
			<td>Id</td>
			<td>Titulo</td>
			
		</tr> 
       <% for(let i = 0; i < noticias.length; i ++){%>
		<tr>
			<td><%=noticias[i].id_noticias%></td>
			<td><%=noticias[i].titulo%></td>
		
		</tr>
		<%}%>
	</table>
</body>
</html>